.card{
    border: 1px solid black;
    width: 25%;
    margin-left: 40px;
    margin-top: 30px;
    align-items: center;
}
.card img{
    width: 100%;
}
.card_content{
    padding: 40px;
}
.card button{
    
    background-color: rgb(44, 130, 149);
    
}